.row{ 
    margin-bottom: 10px;
}

.searchHistory {
    background-color: rgb(255, 255, 255);
    

}


.display {
    font-size: x-large;
}

.history-button {
    font-size:xx-large;
    align-items: center;
}

.button{
    font-size: x-large;
}